[defaults]
inventory=./inventory
host_key_checking=false
roles_path=./roles
collections_path=./collections
interpreter_python=auto_silent
vault_password_file=vpass 
deprecation_warnings=False

[persistent_connection]
connect_timeout = 60
command_timeout = 60
